version: '3.1'
services :
  db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgresuser
      POSTGRES_PASSWORD: postgrespass
      POSTGRES_DB: mydb
  admin:
    image: adminer
    restart: always
    depends_on:
      - db
    ports:
      - 8080:8080